header {
  display: flex;
  justify-content: space-between;

  padding: 10px;
  background-color: rgb(243, 243, 243);
}

label {
  margin-bottom: -5px;
}

h1 {
  font-size: larger;
}

h3 {
  text-align: center;
}

.new-pet-popup {
  display: grid;
  gap: 10px;

  background-color: rgb(188, 188, 188);

  padding: 10px;
  width: 300px;
  height: auto;

  position: absolute;

  translate: -50% -50%;
  top: 50%;
  left: 50%;

  opacity: 0;

  animation-fill-mode: forwards;
}

.pet-list {
  display: flex;
  flex-direction: column;
}

.pet-list__pet-item {
  display: flex;

  padding: 10px;
}

.pet-item__infos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
}

.pet-item__infos > span {
  flex-grow: 1;
  text-align: center;
}

@keyframes show-popup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide-popup {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
